# SST
.sst

# Node
node_modules

# GitHub
.github

# Husky
.husky

# VSCode
.vscode

# Migrations
migrations

# Turbo
.turbo

# SolidStart Build Output
.output
.vinxi

# Infra files
sst.config.ts
/infra

# Cursor
.cursorrules

# Misc
.libsql.db
.env*
