# SST
.sst

# Node
node_modules

# GitHub
.github

# Husky
.husky

# VSCode
.vscode

# Turbo
.turbo

# Migrations
/migrations

# SolidStart Build Output
.output
.vinxi

# Infra files
sst.config.ts
/infra

# Cypress
/cypress

# Cursor
.cursorrules

# Misc
.libsql.db*
.env*
