# dependencies
node_modules

# sst
.sst
.build

# opennext
.open-next

# misc
.DS_Store

# local env files
.env*.local
/.env

volumes
.secret

test

firebase-service-account.json
apple-auth-key.p8
apple-app-store-key.p8
