# dependencies
node_modules

# sst
.sst
.build

# opennext
.open-next

# misc
.DS_Store

# local env files
.env*.local
/.env

# Docker volumes
volumes

# test files
test

# Various app secret files
.secret
firebase-service-account.json
apple-auth-key.p8
apple-app-store-key.p8

# A file I use to keep track of changes to the project
changes.txt

# GraphQL Codegen
__generated__
