.DS_Store
node_modules
migrations
build
mobile
.svelte-kit
.sst
.vscode
.env
.env.*
!.env.example
graphql/introspection.d.ts

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
