@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-slate-700 font-catamaran;
}

.logo {
  @apply font-kanit;
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: 100vh;
    max-height: -webkit-fill-available !important;
  }

  .max-h-screen {
    max-height: 100vh;
    max-height: -webkit-fill-available !important;
  }
}
