doctype html
html(lang='en')
  head
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Catamaran:300,400,500,700|Material+Icons')
    style.
      body {
        font-family: 'Catamaran', sans-serif;
      }
      h1 {
        font-weight: 300;
      }
      p {
        font-weight: 300;
      }
      a {
        font-weight: 500;
        color: #2196f3;
      }
  body
    h1 Verify your email for RevelationsAI
    p Click the link below to verify your email:
    a(href=link) Verify email